/build
/build2
!/build/compile_commands.json
!/build2/compile_commands.json

*.out

/*_openvino_*
/.vscode
/cpm_modules
.DS_Store
*.lic
core.*
*.log
.cache

*.cpp#
*.h#

*.png
*.jpg
*.jpeg


openvino_env

contrib/models

xcode

/.idea/
/cmake-build-debug/

conan/conan.lock
conan/conanbuildinfo.cmake
conan/conanbuildinfo.txt
conan/conaninfo.txt
conan/graph_info.json
